/* 过渡动画 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}

/* 过渡动画 */

#app {
    // background: url("~@/assets/img/bg.jpg") no-repeat center / cover;
    background: #000;

    header {
        position: fixed;
        top: 10px;
        width: 100%;

        .bgm {
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 10px;
            :hover {
                cursor: pointer;
            }

            .iconfont {
                color: #fff;
                font-size: 30px;
            }
        }
    }
}